* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

h1 {
  color: hsl(183, 100%, 15%);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.app {
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 40px;
}

.inputs {
  flex: 1;
}

h2 {
  color: hsl(186, 14%, 43%);
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  border: none;
  background-color: hsl(189, 41%, 97%);
  width: 100%;
  padding: 5px;
  font-family: "Space Mono", monospace;
  border-radius: 3px;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  text-align: right;
}

#bill {
  background: hsl(189, 41%, 97%) url("images/icon-dollar.svg") no-repeat scroll
    12px;
}

#people {
  background: hsl(189, 41%, 97%) url("images/icon-person.svg") no-repeat scroll
    12px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

textarea:focus,
input:focus {
  outline: solid hsl(172, 67%, 45%);
}

.bill-container,
.tip-container {
  margin-bottom: 24px;
}

.tip-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 24px 24px;
  gap: 10px;
}

.tip-btn {
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: none;
  border-radius: 3px;
  font-family: "Space Mono", monospace;
}

.custom-tip {
  font-size: 16px;
}

.results {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.result-title {
  font-size: 14px;
}

.person {
  color: hsl(184, 14%, 56%);
  font-size: 12px;
}

#split-tip,
#split-total {
  color: hsl(172, 67%, 45%);
  font-size: 36px;
}

.reset-btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: hsl(172, 67%, 45%);
  padding: 10px;
  font-family: "Space Mono", monospace;
}
