* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

h1 {
  color: hsl(183, 100%, 15%);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.app {
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
}
